* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.carousel-item img {
    width: 100%;
    height: 100vh;
}

.about_us {
    min-width: 50%;
    max-height: 200px;
    margin-left: 30%;
}

.services img {
    width: 100%;
    height: 100%;
}

.ser {
    color: blue;
    font-weight: bold;
    font-style: italic;
}

.services .card-title {
    font-weight: bold;
    color: black;
}

.offer_style {
    font-weight: bold;
    color: black;
    background-color: rgb(89, 89, 238);
}

footer p {
    margin-bottom: 0;
}

.navbar {
    background-color: rgb(147, 147, 253) !important;
}

.navbar li{
    margin: 0 8px;
}
.navbar-brand {
    font-size: 35px;
    font-weight: bold;
    color: black;
    line-height: 80px;
}

.navbar-nav a {
    color: white !important;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}

.navbar-nav a:hover{
    border: 1px solid rgb(255, 255, 255);
    transition: .5s;
    color: black !important;
}
.carousel-inner h5{
    color: black !important;
    font-weight: bold;
    font-size: 30px;
}
.carousel-inner p{
    color: black;
    text-transform: capitalize;
    font-size: 18px;
}
/* Responsive css code */


/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */


/* // Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {

    }



/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {}


/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) {

}


/* // X-Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
   
}


/* // XX-Large devices (larger desktops, 1400px and up) */

@media (min-width: 1400px) {

}

@media (min-width: 1400px) {}

@media (min-width: 1400px) {}

@media screen and (max-width: 768px) {
    .carousel-item img {
        width: 100%;
        height: 60vh;
    }
}
